.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
    display: flex;
    justify-content: space-between;
}

#masthead {
    top: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 20px;
    overflow: auto;
    color: #fff;
    background: linear-gradient(#1A1A1D, #0c0c0e);
    border-bottom: 2px solid #C3073F;
}

#logo {
    margin-top: 1px;
    width: 250px;
    height: 85px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 90px;
    color: #C3073F;
    text-shadow: #6f2232;
    text-align: center;
    text-decoration: none;
    border: 2px solid #950740;
    border-radius: 50%;
    background: url(../img/space.jpg);
}

nav {
    margin-top: 25px;
}

nav a+a::before {
    content: "|";
    margin-right: 20px;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #6f2232;
}

nav a {
    font-family: "Comic Sans MS";
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #C3073F;
}